
<div class='flex flex-col items-center justify-center text-center'>
    <img
      class='mb-4 rounded-lg shadow-lg h-36 lg:h-56'
      src='/favicon.svg'
      alt='Avatar'
    />
    <a
      href='https://www.etsy.com/shop/myprimitivedolls'
      class='text-xl text-white transition-all duration-500 lg:text-2xl hover:text-teal-200'
      >Myprimitivedolls</a
    >
  </div>