<div class='flex flex-col items-center justify-center text-center'>
    <img
      class='mb-4 rounded-full shadow-lg h-36 lg:h-56'
      src='/avatar.jpg'
      alt='Avatar'
    />
    <a
      href='https://myprimitivedolls.com'
      class='text-xl text-white transition-all duration-500 lg:text-2xl hover:text-teal-200'
      >Myprimitivedolls</a
    >
  </div>